{% extends 'home/base.html' %}
{% load static i18n tpl_button tpl_trail_map filter_gpx %}

{% block title %}{{ trail.name|default:'Trail' }}{% endblock %}
{% block description %}{{ trail.description|default:'' }}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <h1 class="has-no-bottom-space">{{ trail.name|default:'Unnamed trail' }}</h1>
            <p class="trail__published has-hidden-links">
                {% url 'member__main' username=trail.author.username as link %}
                {% blocktrans trimmed with user=trail.author.username date=trail.pub_date|date link=link %}
                    Published by <a href="{{ link }}">@{{ user }}</a> on {{ date }}.
                {% endblocktrans %}
                ・
                <span class="trail__favorite">
                {% if user.is_authenticated %}
                    <a href="{% url 'trail__favorite' trail.id %}" class="{% if is_favorite %}is-favorite{% endif %}">
                {% endif %}
                    <svg width="20" height="20" class="trail__icon">
                    <use xlink:href="#heart"></use>
                </svg>
                    {% if user.is_authenticated %}
                        </a>
                    {% endif %}
                    {{ trail.favorite_by.all|length }}
                </span>
            </p>
            {% if user.is_authenticated and user == trail.author %}
                <div>
                    <link rel="stylesheet" href="{% static 'discover/styles/user_bar.css' %}">
                    <ul class="user-bar has-hidden-links">
                        <li class="user-bar__button">
                            <a href="{% url 'trail__edit' trail.id %}">{% trans 'Edit' %}</a>
                        </li>
                        <li class="user-bar__button is-right is-danger">
                            <a href="{% url 'trail__delete' trail.id %}">{% trans 'Delete' %}</a>
                        </li>
                    </ul>
                    <p><!-- empty --></p>
                </div>
            {% endif %}
            <ul class="trail__statistics-grid">
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#home"></use>
                    </svg>
                    {{ trail.location|default:'n/a'|truncatechars:18 }}
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#distance"></use>
                    </svg>
                    {{ trail.distance|default:0|floatformat:"-2" }}km
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#rocket"></use>
                    </svg>
                    {{ trail.uphill|default:0|floatformat:"0" }}m
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#time"></use>
                    </svg>
                    {{ trail.moving_time|format_time }}
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#speed-medium"></use>
                    </svg>
                    {{ trail.average_speed|default:0|floatformat }}km/h
                </li>
            </ul>
            <ul class="trail__statistics-grid">
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    {{ trail.start_datetime|date:"SHORT_DATETIME_FORMAT" }}
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    {{ trail.end_datetime|date:"SHORT_DATETIME_FORMAT" }}
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#enter-down"></use>
                    </svg>
                    {{ trail.min_altitude|floatformat:"0" }}m
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#enter-up"></use>
                    </svg>
                    {{ trail.max_altitude|floatformat:"0" }}m
                </li>
                <li class="is-left">
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#speed-fast"></use>
                    </svg>
                    {{ trail.max_speed|floatformat:"1" }}km/h
                </li>
            </ul>
            <p><!-- empty --></p>
            {% tpl_trail_map trail.file '84vh' %}
            <p><!-- empty --></p>
            {% if trail.description %}
                <p>{{ trail.description }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
