{% extends 'shell/base.html' %}
{% load static i18n tpl_button filter_gpx %}

{% block title %}{{ trail.name|default:'Trail' }}{% endblock %}
{% block description %}{{ trail.description|default:'' }}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            {% trans 'Unnamed Trail' as trail_noname %}
            <h1 class="has-no-bottom-space">{{ trail.name|default:trail_noname }}</h1>
            <p class="trail__published has-hidden-links">
                {% url 'member__main' username=trail.author.username as link %}
                {% blocktrans trimmed with user=trail.author.username date=trail.pub_date|date link=link %}
                    Published by <a href="{{ link }}">@{{ user }}</a> on {{ date }}.
                {% endblocktrans %}
                ・
                <span class="trail__favorite">
                {% if user.is_authenticated %}
                    <a href="{% url 'trail__favorite' trail.id %}" class="{% if is_favorite %}is-favorite{% endif %}">
                {% endif %}
                    <svg width="20" height="20" class="trail__icon">
                    <use xlink:href="#heart"></use>
                </svg>
                    {% if user.is_authenticated %}
                        </a>
                    {% endif %}
                    {{ trail.favorite_by.all|length }}
                </span>
            </p>
            {% if user.is_authenticated and user == trail.author %}
                <div class="o-flex-inline has-gutter has-hidden-links">
                    <link rel="stylesheet" href="{% static 'shell/styles/user_bar.css' %}">
                    <div>
                        <ul class="user-bar">
                            <li class="user-bar__button">
                                <a href="{% url 'trail__edit' trail.id %}">{% trans 'Edit trail' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if trail.tracks|length is 1 %}
                {% with trail.tracks|first|details as track %}
                    <div>
                        <ul class="trail__statistics-grid">
                            <li class="is-center">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                {{ track.start_datetime|date:"SHORT_DATE_FORMAT" }}
                            </li>
                            <li class="is-center">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#home"></use>
                                </svg>
                                {{ track.location|default:'n/a'|truncatechars:18 }}
                            </li>
                            <li class="is-center">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#distance"></use>
                                </svg>
                                {{ track.distance|default:0|floatformat:"-2" }}km
                            </li>
                            <li class="is-center">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#rocket"></use>
                                </svg>
                                {{ track.uphill|default:0|floatformat:"0" }}m
                            </li>
                            <li class="is-center">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#time"></use>
                                </svg>
                                {{ track.total_time|format_time }}
                            </li>
                        </ul>
                    </div>
                    <p><!-- empty --></p>
                {% endwith %}
            {% endif %}
            {% if trail.description %}
                {# TODO Styling as quote? #}
                <p>{{ trail.description }}</p>
            {% endif %}
            <p><!-- empty --></p>
            {% for trail_track in trail.tracks %}
                {% with trail_track|details as track %}
                    {% if trail.tracks|length > 1 %}
                        {% with n=forloop.counter|stringformat:"s" %}
                            {% with 'Trail '|add:n as default_title %}
                                <h2>{{ track.name|default:default_title }}</h2>
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                    {# FIXME show only the track #}
                    <trail-map class="trail-map"
                               data-has-interface="true"
                               data-trail="{{ trail.id }}"
                               data-track="{{ forloop.counter0 }}">
                    </trail-map>
                    <p><!-- empty --></p>
                    <div>
                        <ul class="trail__statistics-grid">
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#home"></use>
                                </svg>
                                {{ track.location|default:'n/a'|truncatechars:18 }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#distance"></use>
                                </svg>
                                {{ track.distance|default:0|floatformat:"-2" }}km
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#rocket"></use>
                                </svg>
                                {{ track.uphill|default:0|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#time"></use>
                                </svg>
                                {{ track.total_time|format_time }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#speed-medium"></use>
                                </svg>
                                {{ track.average_speed|default:0|floatformat }}km/h
                            </li>
                        </ul>
                        <ul class="trail__statistics-grid">
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                {{ track.start_datetime|date:"SHORT_DATETIME_FORMAT" }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                {{ track.end_datetime|date:"SHORT_DATETIME_FORMAT" }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#enter-down"></use>
                                </svg>
                                {{ track.min_altitude|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#enter-up"></use>
                                </svg>
                                {{ track.max_altitude|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#speed-fast"></use>
                                </svg>
                                {{ track.max_speed|floatformat:"1" }}km/h
                            </li>
                        </ul>
                    </div>
                    <p><!-- empty --></p>
                {% endwith %}
            {% endfor %}
            {% if user.is_authenticated and user == trail.author %}
                <div class="o-flex-inline has-gutter has-hidden-links is-right">
                    <link rel="stylesheet" href="{% static 'shell/styles/user_bar.css' %}">
                    {# TODO delete page #}
                    <div>
                        <ul class="user-bar is-danger">
                            <li class="user-bar__button">
                                <a href="{% url 'trail__delete' trail.id %}">{% trans 'Delete trail' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
