{% extends 'shell/base.html' %}
{% load static i18n tpl_button filter_gpx index %}

{% block title %}{{ trail.name|default:'' }}{% endblock %}
{% block description %}{{ trail.description|default:'' }}{% endblock %}

{% block social %}
    {% with trail.tracks|first as track %}
        <meta property="og:title"
              content="{{ trail.name|default:'Trail' }} ・ {{ track.location|default:'' }}">
        <meta property="og:description"
              content="{% trans 'Distance' %}: {{ track.distance|default:0|floatformat:"-2" }}km ・ {% trans 'Duration' %}: {{ track.moving_time|format_time }} ・ {% trans 'Uphill' %}: {{ track.uphill|default:0|floatformat:"0" }}m">
    {% endwith %}
    <meta property="og:url" content="https://mountainbikers.club{{ request.path }}">
    <meta property="og:site_name" content="Mountain Bikers Club">
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}">
    <meta property="og:type" content="fitness.course">

    {% if trail.thumbnail %}
        <meta property="og:image" content="{{ trail.hero.url }}">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="480">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            {% trans 'Unnamed Trail' as trail_noname %}
            <h1 class="has-no-bottom-space">{{ trail.name|default:trail_noname }}</h1>
            <p class="trail__published has-hidden-links">
                {% url 'member__main' username=trail.author.username as link %}
                {% blocktrans trimmed with user=trail.author.username date=trail.pub_date|date link=link %}
                    Published by <a href="{{ link }}">@{{ user }}</a> on {{ date }}.
                {% endblocktrans %}
                ・
                <span class="trail__favorite">
                    {% if user.is_authenticated %}
                        <a href="{% url 'trail__favorite' trail.id %}"
                           class="{% if is_favorite %}is-favorite{% endif %}">
                    {% endif %}
                    <svg width="20" height="20" class="trail__icon">
                        <use xlink:href="#heart"></use>
                    </svg>
                    {% if user.is_authenticated %}
                        </a>
                    {% endif %}
                    {{ trail.favorite_by.all|length }}
                </span>
            </p>
            {% if user.is_authenticated and user == trail.author and trail.is_draft is False %}
                <div>
                    {% trans 'Edit trail' as button_label %}
                    {% url 'trail__edit' trail.id as button_link %}
                    {% tpl_button button_label button_link class='is-warning' %}
                </div>
                <p><!-- empty --></p>
            {% endif %}
            {% if trail.tracks|length is 1 %}
                {% with trail.tracks|first as track %}
                    <div>
                        <ul class="trail__statistics-grid">
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#home"></use>
                                </svg>
                                {{ track.location|default:'n/a'|truncatechars:18 }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#enter-down"></use>
                                </svg>
                                {{ track.min_altitude|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#enter-up"></use>
                                </svg>
                                {{ track.max_altitude|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#calendar"></use>
                                </svg>
                                {{ track.start_datetime|parse_time|date:"SHORT_DATE_FORMAT" }}
                            </li>
                            <!-- weather -->
                        </ul>
                        <ul class="trail__statistics-grid">

                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#distance"></use>
                                </svg>
                                {{ track.distance|default:0|floatformat:"-2" }}km
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#rocket"></use>
                                </svg>
                                {{ track.uphill|default:0|floatformat:"0" }}m
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#time"></use>
                                </svg>
                                {{ track.moving_time|format_time }}
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#speed-medium"></use>
                                </svg>
                                {{ track.average_moving_speed|floatformat:"1" }}km/h
                            </li>
                            <li class="is-left">
                                <svg width="20" height="20" class="trail__icon">
                                    <use xlink:href="#speed-fast"></use>
                                </svg>
                                {{ track.max_speed|floatformat:"1" }}km/h
                            </li>
                        </ul>
                    </div>
                    <p><!-- empty --></p>
                {% endwith %}
            {% endif %}
            {% if trail.is_draft is True %}
                <h2>{% trans 'Analyzing...' %}</h2>
                {% url 'trail__new' as url_trail_new %}
                <p>{% blocktrans trimmed %}
                    Your trail is currently analyzed. It will take a few minutes.
                    Once completed, you will receive an email.<br>
                    You can continue to navigate on Mountain Bikers Club or
                    <a href="{{ url_trail_new }}">upload a new trail</a>.
                {% endblocktrans %}</p>
            {% endif %}
            {% if trail.description %}
                {# TODO Styling as quote? #}
                <p>{{ trail.description }}</p>
            {% endif %}
            <p><!-- empty --></p>
            <link rel="stylesheet" href="{% url 'bokeh__css' %}">
            <script src="{% url 'bokeh__js' %}"></script>
            {% for trail_track in trail.tracks %}
                {% with trail_track as track %}
                    {% if trail.tracks|length > 1 %}
                        {% with n=forloop.counter|stringformat:"s" %}
                            {% with 'Trail '|add:n as default_title %}
                                <h2>{{ track.name|default:default_title }}</h2>
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                    <trail-map class="trail-map"
                               data-has-interface="true"
                               data-trail="{{ trail.id }}"
                               data-track="{{ forloop.counter0 }}">
                        {% if trail.thumbnail %}
                            <noscript>
                                <img class="trail-map__fallback" src="{{ trail.hero.url }}">
                            </noscript>
                        {% endif %}
                    </trail-map>
                    <p><!-- empty --></p>
                    {% with charts|index:forloop.counter0 as chart %}
                        {% if chart.div is not None and chart.script is not None %}
                            <div class="trail-map__chart">
                                {{ chart.div|safe }}
                                {{ chart.script|safe }}
                            </div>
                            <p><!-- empty --></p>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
            {% if user.is_authenticated and user == trail.author %}
                <div class="is-right">
                    {% trans 'Delete trail' as button_label %}
                    {% url 'trail__delete' trail.id as button_link %}
                    {% tpl_button button_label button_link class='is-danger' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
