{% load i18n %}
<li class="trail-preview__outer cell-{{ cell|default:'1of1' }} has-hidden-links">
    {% if url %}
        <a href="{{ url|default:'' }}" class="trail-preview">
    {% else %}
        <div class="trail-preview has-no-hover">
    {% endif %}
    <div class="trail-preview__map">
        {% if trail.thumbnail %}
            <img class="trail-map" src="{{ trail.thumbnail.url }}">
        {% else %}
            <trail-map class="trail-map" data-trail="{{ trail.id }}" data-track="0"></trail-map>
        {% endif %}
        <h3 class="trail-preview__title">{{ trail.name|default:'Unnamed trail' }}</h3>
    </div>
    {% if trail.tracks|length > 0 %}
        {% with trail.tracks|first as track %}
            {% if track.location or track.distance or track.uphill %}
                <ul class="trail-preview__info-grid">
                    <li class="is-left" style="grid-column-end: span 2;">
                        <svg width="15" height="15" class="trail__icon">
                            <use xlink:href="#home"></use>
                        </svg>
                        {{ track.location|default:'n/a'|truncatechars:18 }}
                    </li>
                    <li class="is-center">
                        <svg width="15" height="15" class="trail__icon">
                            <use xlink:href="#distance"></use>
                        </svg>
                        {{ track.distance|floatformat }}km
                    </li>
                    <li class="is-right">
                        <svg width="15" height="15" class="trail__icon">
                            <use xlink:href="#rocket"></use>
                        </svg>
                        {{ track.uphill|floatformat:"0" }}m
                    </li>
                </ul>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if url %}
        </a>
    {% else %}
        </div>
    {% endif %}
</li>
