{% extends 'shell/base.html' %}
{% load static i18n tpl_button tpl_trail_preview %}

{% block title %}Delete {{ object.name }}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <div class="o-flex-inline has-gutter">
                <div class="cell-2of3">
                    <h1>Delete {{ object.name|default:'Unamed trail' }}</h1>
                    <p>Are you sure you want to delete "{{ object.name|default:'Unamed trail' }}"?</p>
                    <form method="post" class="django__form">
                        {% csrf_token %}
                        <div class="o-flex-inline has-horizontal-gutter">
                            <div>
                                {% trans 'Yes, I am sure!' as button_label %}
                                {% tpl_button button_label class='is-danger' %}
                            </div>
                            <div>
                                {% trans 'Cancel' as button_label %}
                                {% url 'trail__main' object.id as button_link %}
                                {% tpl_button button_label button_link class='is-secondary' %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="cell-1of3">
                    <h2>Map</h2>
                    {% tpl_trail_preview object %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
