{% extends 'shell/base.html' %}
{% load static i18n tpl_button tpl_trail_preview %}

{% block title %}
    {% blocktrans trimmed with user=member.get_full_name|default:member.username %}
        {{ user }}'s profile
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <h1 class="has-no-bottom-space">
                {% blocktrans trimmed with user=member.get_full_name|default:member.username %}
                    {{ user }}'s profile
                {% endblocktrans %}
            </h1>
            <p class="trail__published">
                {% blocktrans trimmed with date=member.date_joined|date %}
                    Member since {{ date }}.
                {% endblocktrans %}
            </p>
            {% if user.is_authenticated and user == member %}
                <div class="o-flex-inline has-gutter has-hidden-links">
                    <div class="o-flex-inline has-horizontal-gutter">
                        <div>
                            {% trans 'Edit profile' as button_label %}
                            {% url 'member__edit' user.username as button_link %}
                            {% tpl_button button_label button_link %}
                        </div>
                        <div>
                            {% trans 'Logout' as button_label %}
                            {% url 'logout' as button_link %}
                            {% tpl_button button_label button_link class='is-secondary' %}
                        </div>
                    </div>
                </div>
                <p><!-- empty --></p>
            {% endif %}
            <h2>{% trans 'Trails' %}</h2>
            <ul class="o-flex has-gutter is-multiline">
                {% for trail in member_trails %}
                    {% url 'trail__main' trail.id as trail_url %}
                    {% tpl_trail_preview trail trail_url '1of3' %}
                {% endfor %}
            </ul>
            <p><!-- empty --></p>
            <h2>{% trans 'Favorites' %}</h2>
            <ul class="o-flex has-gutter is-multiline">
                {% for trail in member_favorite_trails %}
                    {% url 'trail__main' trail.id as trail_url %}
                    {% tpl_trail_preview trail trail_url '1of3' %}
                {% endfor %}
            </ul>
            {% if user.is_authenticated and user == member %}
                <p><!-- empty --></p>
                <div class="o-flex-inline has-horizontal-gutter is-right">
                    <div>
                        {% trans 'Change password' as button_label %}
                        {% url 'password_change' as button_link %}
                        {% tpl_button button_label button_link class="is-warning" %}
                    </div>
                    <div>
                        {% trans 'Delete my account' as button_label %}
                        {% url 'member__delete' user.username as button_link %}
                        {% tpl_button button_label button_link class='is-danger' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
