{% extends 'shell/base.html' %}
{% load i18n tpl_button %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group o-flex-inline is-large">
            <div class="cell-2of3">
                <h1>{{ title }}</h1>
                {% if validlink %}
                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    <form method="post" class="django__form">
                        {% csrf_token %}
                        <ul class="django__form__list">
                            <li>
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">{% trans 'New password:' %}</label>
                                {{ form.new_password1 }}
                            </li>
                            <li>
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                {{ form.new_password2 }}
                            </li>
                        </ul>
                        {% trans 'Change my password' as button_label %}
                        {% tpl_button button_label class='is-success' %}
                    </form>
                {% else %}
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
