{% extends 'shell/base.html' %}
{% load i18n tpl_button %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group o-flex-inline is-large">
            <div class="cell-2of3">
                <h1>{% trans 'Change password' %}</h1>
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                <form method="post" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <ul class="django__form">
                        {{ form.as_ul }}
                    </ul>
                    <div class="o-flex-inline has-horizontal-gutter">
                        <div>
                            {% trans 'Change my password' as button_label %}
                            {% tpl_button button_label class='is-success' %}
                        </div>
                        <div>
                            {% trans 'Cancel' as button_label %}
                            {% url 'member__main' username=user.username as button_link %}
                            {% tpl_button button_label button_link class='is-secondary' %}
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="cell-1of3"><!-- empty --></div>
        </div>
    </div>

{% endblock %}
