{% extends 'shell/base.html' %}
{% load i18n tpl_button %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group o-flex-inline is-large">
            <div class="cell-2of3">
                <h1>{{ title }}</h1>
                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                <form method="post" class="django__form">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <ul class="django__form__list">
                        <li>
                             <label for="id_email">{% trans 'Email address:' %}</label>
                            {{ form.email }}
                        </li>
                    </ul>
                    {% trans 'Reset my password' as button_label %}
                    {% tpl_button button_label class='is-success' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
