{% extends 'discover/base.html' %}
{% load i18n tpl_button %}

{% block title %}{% trans 'Create an account' %}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <div class="o-flex-inline has-gutter">
                <div class="cell-2of3">
                    <h1>{% trans 'Create an account' %}</h1>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <ul class="django__form">
                            {{ form.as_ul }}
                        </ul>
                        {% trans 'Sign up' as button_label %}
                        {% tpl_button button_label class='is-success' %}
                    </form>
                </div>
                <div class="cell-1of3">
                    <h2>{% trans 'Welcome' %}</h2>
                    <p>{% trans 'Welcome to the Mountain Bikers Club.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
