{% extends 'shell/base.html' %}
{% load static i18n tpl_button tpl_trail_preview %}

{% block title %}
    {% blocktrans trimmed with user=user.username %}
        {{ user }}'s dashborad
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <div class="o-flex has-gutter">
                <div class="cell-2of3">
                    <h1>{% trans 'Dashboard' %}</h1>
                </div>
                <div class="cell-1of3">
                    <h2>{% trans 'My last trails' %}</h2>
                    <ul class="o-flex has-gutter is-multiline">
                        {% for trail in last_user_trails %}
                            {% url 'trail__main' trail.id as trail_url %}
                            {% tpl_trail_preview trail trail_url '1of1' %}
                        {% endfor %}
                    </ul>
                    <p><!-- empty --></p>
                    {% if user.is_authenticated %}
                        {% trans 'Upload a GPX file' as button_label %}
                        {% url 'trail__new' as button_link %}
                        {% tpl_button button_label button_link %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
