{% extends 'home/base.html' %}
{% load i18n tpl_button %}

{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block headerlinks %}
    <li class="has-hidden-links">
        <a href="{% url 'register' %}">{% trans 'Sign up'|lower %}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group o-flex-inline">
            <div class="cell-1of3"><!-- empty --></div>
            <div class="cell-1of3">
                <h1>{% trans 'Sign in' %}</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <ul class="django__form">
                        {{ form.as_ul }}
                    </ul>
                    {% trans 'Login' as button_label %}
                    {% tpl_button button_label class='is-success' %}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="cell-1of3"><!-- empty --></div>
        </div>
    </div>

{% endblock %}
