{% extends 'shell/base.html' %}
{% load static i18n tpl_button tpl_trail_preview %}

{% block title %}{% trans 'Home' %}{% endblock %}
{% block description %}{% trans 'For the love of mountain biking and wild nature' %}{% endblock %}

{% block content %}
    <div class="o-section">
        <div class="o-group is-large">
            <div class="o-flex-inline has-gutter">
                <div class="cell-2of3">
                    <h1>{% trans 'For the love of mountain biking and wild nature' %}.</h1>
                    <p>
                        {% if user.is_authenticated %}{% trans 'Welcome back' %},
                            {% else %}{% trans 'Hello' %},
                        {% endif %}
                        {{ user.get_short_name|default:user.username|default:'mountain biker' }}. 👋
                    </p>
                    {% if user.is_authenticated %}
                        <div class="o-flex-inline has-gutter">
                            <div>
                                {% trans 'Go to my dashboard' as button_label %}
                                {% url 'dashboard__main' as button_link %}
                                {% tpl_button button_label button_link %}
                            </div>
                        </div>
                    {% else %}
                        <div class="o-flex-inline has-gutter">
                            <div>
                                {% trans 'Sign in' as button_label %}
                                {% url 'login' as button_link %}
                                {% tpl_button button_label button_link %}
                            </div>
                            <div>
                                {% trans 'Create an account' as button_label %}
                                {% url 'register' as button_link %}
                                {% tpl_button button_label button_link class='is-warning' %}
                            </div>
                        </div>
                    {% endif %}
                    <p><!-- empty --></p>
                    {% blocktrans trimmed %}
                        This is the multiline welcome message
                    {% endblocktrans %}
                </div>
                <div class="cell-1of3">
                    {% if not user.is_authenticated %}
                        <h2>{% trans 'Create an account' %}</h2>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <ul class="django__form">
                                {{ form_register.as_ul }}
                            </ul>
                            {% trans 'Sign up' as button_label %}
                            {% tpl_button button_label class='is-success' %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
